main {
    margin: 2em;
    color:white;
}

.game-details-container{
    display:flex;
    flex-direction: row;
}

.game-details-container img {
  /* filter: grayscale(80%); 
  opacity: 0.4;  */
  margin-right: 2em;
  height:70%;
  width:30%;
}

.details-list{
    display:flex;
    flex-direction: column;
    color: #FFAFCC;
    margin:5px;
}

.details-title{
   font-family: 'Quicksand', sans-serif;
   color:#cd83db;
   font-weight: lighter;
}

.details-desc-container{
    display:flex;
    width:100%;
    flex-direction: column;
}

ul.details-list {
  list-style-type: none;
}

.details-help-link{
    color: #A2D2FF;
     font-size: larger;
     font-weight: bolder;
}
