.home-page-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:100vh;
    width:100vw;
    font-family: 'Quicksand';
}

.slogan-container{
    display:flex;
    justify-content: center;
}

.slogan{
    color:#c79cdb;
    font-weight: bold;
}

.game-type-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 100px;
    height:20rem;
    width:60rem;
    margin-top:3%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;
    font-weight: bolder;
    font-size:larger;
}

.solo{
    display:flex;
    flex-direction: column;
    text-align: center;
    background-color: #FFAFCC;
    align-items: center;
}

.duo{
    display:flex;
    flex-direction: column;
    text-align: center;
    background-color: #CD84DB;
      align-items: center;
}

.party{
    display:flex;
    flex-direction: column;
    text-align: center;
    background-color: #A2D2FF;
      align-items: center;
}

.title-solo{
    background-color: #FFAFCC;
    color:black;
        font-size: 2rem;
          margin-bottom: .25rem;
}

.title-duo{
    background-color: #CD84DB;
     color:black;
     font-size: 2rem;
     margin-bottom: .25rem;
}

.title-party{
    background-color: #A2D2FF;
        font-size: 2rem;
        margin-bottom: .25rem;
}

.dice-1, .dice-2, .dice-3{
    height:200px;
    width:200px;
}

.solo:hover .dice-1,
.duo:hover .dice-2,
.party:hover .dice-3 {
  transform: translateY(-10px);
}