.home-page-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Quicksand';
    background-color: black;
    justify-content: center; 
    align-items: center; 
}

.slogan-container, .search-container{
    display:flex;
    justify-content: center;
}

.slogan, .search{
    color:#c79cdb;
    font-weight: bold;
}

.game-type-container{
      margin: 3% auto 0 auto; 
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 100px;
    height:25rem;
    width:60rem;
    margin-top:3%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;
    font-size:larger;
}

.game-title{
    font-weight: 500;
    font-size: 1.3em;
    color:black;
    margin-right:1em;
}

.solo, .duo, .party {
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 8px;
    height: 20rem;
}

.solo{
    background-color: #FFAFCC;
}

.duo{
    background-color: #CD84DB;
}

.party{
    background-color: #A2D2FF;
    color:black;
}

.title-solo, .title-duo, .title-party {
    color:black;
    font-size: 2rem;
    margin-bottom: .25rem;
}

.title-solo{
    background-color: #FFAFCC;
}

.title-duo{
    background-color: #CD84DB;
}

.title-party{
    background-color: #A2D2FF;
}

.dice-1, .dice-2, .dice-3{
    height:200px;
    width:200px;
}

.solo:hover .dice-1,
.duo:hover .dice-2,
.party:hover .dice-3 {
  transform: translateY(-10px);
}

.link-no-underline {
  text-decoration: none;
}

@media screen and (max-width: 55em){

    .game-type-container{
        grid-template-columns: repeat(1,1fr);
        grid-gap: 60px;
        height: 30rem;
        width: 45vw;
        margin-left: 20%;
        margin-right: 20%;
    }

    .slogan-container{
        margin-left:10%;
    }
}


@media (min-width: 768px) {
    .game-type-container {
        grid-gap: 60px;
        height: 30rem;
        width: 45vw;
        margin-left: 30%;
        margin-right:30%;
    }

    .dice-1, .dice-2, .dice-3 {
        height:250px;
        width: 200px;
    }

       .slogan-container{
        margin-left:0%;
    }
}

@media screen and (min-width: 1280px) {
     .game-type-container {
        grid-gap: 100px;
        height: 30rem;
        width: 60vw;
        margin-left: 20%;
    }

    .dice-1, .dice-2, .dice-3 {
        height:250px;
        width: 200px;
    }

       .slogan-container{
        margin-left: -10%;
    }
}

