.game-card{
     background-color: whitesmoke;
     color:black;
     display:flex;
     flex-direction: column;
     height: 100%;
     width:100%;
     border-radius: 6px;
     position: relative;
     margin: 5px;  
     align-items: center;
}

nav{
     background-color: black;
}

.title-container {
     background-color:whitesmoke;
     height:8vh;
     margin-right:.5em;
}

.game-title{
     margin-top: 1em;
     margin-right: 1.25em;
     margin-left: 0.5em;
     text-align: center;
     background-color:whitesmoke;
}

.game-image{
     background-color:whitesmoke;
     height:25vh;
     width:90%;
     margin-left: 0.5em;
     margin-top:.5em;
}

.game-rating, .game-playtime{
     background-color: whitesmoke;
     margin:.5em;
     font-weight:500;
}

.favorite-button {
     background-color:whitesmoke;
     position: absolute;
     top: .1em;
     right: .1em;
     cursor: pointer;
     border: 1px solid whitesmoke;
     border-radius: 5px;
     font-size: 1.5em;
}

.link-no-underline {
     background-color: whitesmoke;
}

.game-container{
     background-color: whitesmoke;
}

h4 {
     font-weight: normal;
}
