.game-card{
     background-color: white;
     color:black;
     display:flex;
     flex-direction: column;
     height: 100%;
     width:100%;
     border-radius: 2px;
     position: relative;
     margin: 5px;  
     align-items: center;
}

.title-container {
     background-color: white;
     height:10vh;
}

.game-title{
     margin-top: 2em;
     background-color:white;
     justify-content: center;
     text-align: center;
}

.game-image{
     background-color: white;
     margin-top: -.75em;
     height:25vh;
     width:90%;
}

.game-rating{
     font-weight: bolder;
}

.game-rating, .game-playtime{
     background-color: white;
     margin:.5em;
}

.favorite-button {
     background-color: white;
     position: absolute;
  top: .1em;
  right: .1em;
   cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1.5em;
}

