.game-card{
     background-color: whitesmoke;
     color:black;
     display:flex;
     flex-direction: column;
     height: 100%;
     width:100%;
     border-radius: 6px;
     position: relative;
     margin: 5px;  
     align-items: center;
}

nav{
     background-color: black;
}

.title-container {
     background-color:whitesmoke;
     height:10vh;
}

.game-title{
     margin-top: 2em;
     background-color:whitesmoke;
     justify-content: center;
     text-align: center;
}

.game-image{
     background-color:whitesmoke;
     margin-top: -.75em;
     height:25vh;
     width:90%;
}

.game-rating{
     font-weight: bolder;
}

.game-rating, .game-playtime{
     background-color: whitesmoke;
     margin:.5em;
}

.favorite-button {
     background-color:whitesmoke;
     position: absolute;
     top: .1em;
     right: .1em;
     cursor: pointer;
      border: 1px solid whitesmoke;
      border-radius: 5px;
     font-size: 1.5em;
}

.link-no-underline {
     background-color: whitesmoke;
}

.game-container{
     background-color: whitesmoke;
}
